/*

RESET

*/

#main {

  margin-top: 0;

}

.container {

  max-width: none;
  width: 100%;

}

.social-icons a.instagram:hover,
.social-icons a.facebook:hover,
.social-icons a.twitter:hover,
.social-icons a.instagram,
.social-icons a.facebook,
.social-icons a.twitter,
.social-icons a:hover,
.social-icons a {

  background-color: transparent;

}

button:hover, input[type=submit]:hover, .button:hover, .sale-label:hover {

  background: transparent;

}





/*

HEADER

*/

/* logo */

#pageheader .logo .image img {

  position: fixed;
  width: 20px;
  left: 60px;
  top: 25px;

}

/* navigation */

@media screen and (min-width: 768px){

  #pageheader .links-etc,
  #pageheader .links-etc .upper-link {

    line-height: 3em;
    font-size: 1em;

  }

  #pageheader .links-etc {

    padding: 0 50px;
    position: fixed;
    width: 100%;
    top: 20px;
    right: 0;
    left: 0;

  }

  .header-nav {

    display: inline-block;

  }

  .header-nav ul {

    position: absolute;
    left: 115px;
    top: 0;

  }

}






/*

FOOTER

*/

footer {

  padding: 40px 40px 0 40px;
  text-transform: uppercase;
  background: #000000;
  text-align: center;
  color: #ffffff;

}

.copyright {

  padding: 30px 0 0 0;
  font-weight: 200;
  font-size: 8px;

}





/*

HOMEPAGE

*/

/* blog preview */

.bespoke-journal-preview {

  text-transform: uppercase;
  padding: 65px 0;
  font-size: 12px;

}

.bespoke-journal-preview .read-more,
.journal-handle {

  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 200ms;
  transition: border-color 200ms;
  margin: 10px 5px 5px 5px;
  display: inline-block;

}

.bespoke-journal-preview .read-more:hover,
.journal-handle {

  border-bottom: 1px solid #000;

}

.journal-title {

  padding: 5px 20px;
  max-width: 480px;
  font-size: 24px;
  margin: auto;

}






/*

PRODUCT PAGES

*/

/* social icons */

.product .social-icons a {

  background-image: url("//cdn.shopify.com/s/files/1/0760/4885/t/4/assets/social_spr_dark_2x.png?18183108224224727529");

}

.bespoke-product-description,
.bespoke-product-purchase,
.bespoke.product-photos {

  display: block;
  vertical-align: top;

}

.product-form #product-variants .selector-wrapper,
.product-form #product-add {

  display: block;

}

.product-form select,
.product-form #add {

  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
  text-transform: uppercase;
  outline: 2px solid #333;
  border: 2px solid #000;
  border: 3px solid #fff;
  font-size: 12px;
  width: 220px;
  margin: auto;

}


.product-form #add:hover {

  background: #000;
  color: #fff;

}

.myaffix.affix,
.myaffix.affix-bottom {

    position: relative;

  }

.bespoke-inner {

  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  max-width: 450px;
  margin: auto;

}

/* affix dt */

@media screen and (min-width: 768px){

.bespoke-product-description,
.bespoke-product-purchase,
.bespoke.product-photos {

  display: inline-block;
  vertical-align: top;

}

/* left and right content */

.bespoke-product-description,
.bespoke-product-purchase {

  margin: 2.5%;
  width: 30%;

}

.bespoke-product-description {

  left: 0%;

}

.bespoke-product-purchase {

  right: 0%;

}

.bespoke-inner {

  max-width: 300px;

}

/* product photos */

.bespoke.product-photos {

  width: 30%;

}

.bespoke.product-photos img {

  display: block;
  margin: auto;

}

/* affix */

  .myaffix.affix {

    position: fixed;
    top: 200px;

  }

  .myaffix.affix-bottom {

    position: absolute;

  }

}
