/*

RESET

*/

#main {

  margin-top: 0;

}

.container {

  width: 100%;

}

.social-icons a:hover;
.social-icons a {

  background-color: transparent;

}

/*

HEADER

*/

/* logo */

#pageheader .logo .image img {

  position: fixed;
  width: 20px;
  left: 60px;
  top: 25px;

}

/* navigation */

@media screen and (min-width: 768px){

  #pageheader .links-etc {

    padding: 0 50px;
    position: fixed;
    width: 100%;
    top: 20px;
    right: 0;
    left: 0;

  }

  .header-nav {

    display: inline-block;

  }

  .header-nav ul {

    position: absolute;
    left: 115px;
    top: 0;

  }

}

/*

FOOTER

*/

footer {

  text-transform: uppercase;
  background: #000000;
  text-align: center;
  color: #ffffff;
  padding: 40px;

}



/*

HOMEPAGE

*/

/* blog preview */

.bespoke-journal-preview {

  text-transform: uppercase;
  padding: 65px 0;
  font-size: 12px;

}

.journal-handle {

  border-bottom: 1px solid #000;
  display: inline-block;

}

.journal-title {

  font-size: 24px;

}
